@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  src: url('./Figtree-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  src: url('./Figtree-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url('./Figtree-ExtraBold.ttf') format('truetype');
}
